$hoverBgColor: rgba(0, 0, 0, 0.65); 

.tablify-container {
    &.include-col.include-row {
        display: grid;
        grid-template-columns: max-content auto;
        grid-template-rows: 1fr 1fr;

        .column-names {
            grid-column: 2;
            grid-row: 1;
            display: table;
            border-collapse: separate;
            box-sizing: border-box;
            text-indent: initial;
            unicode-bidi: isolate;
            border-spacing: 2px;
            border-color: gray;

            .column-name-container {
                display: table-row;
                vertical-align: inherit;
                unicode-bidi: isolate;
                border-color: inherit;

                div {
                    display: table-cell;
                    vertical-align: inherit;
                    font-weight: bold;
                    text-align: -internal-center;
                    unicode-bidi: isolate;
                }
            }
        }

        .row-numbers {
            grid-row: span 2;
            grid-column: 1;
        }

        .tablify-table {
            grid-row: 2;
            grid-column: 2;
        }
    }
}

.tablify-container {
    &.include-col {
        thead th {
            
        }
    }

    thead {
        th {
            position: relative;

            &::before {
                content: attr(data-col);
                display: block;
                position: absolute;
                top: 0;
            }
        }
    }
}

.tablify-table {
    width: 100%;

    th {
        text-align: left;
        position: relative;
    }

    [data-hoverable-row] {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            transition: 0.2s ease-in-out background-color;
            pointer-events: none;
        }

        &:hover::after {
            background-color: $hoverBgColor;
        }
    }
}